.contacts {
  padding: 120px 0px;
  background: url(../img/contacts/back.jpg) center no-repeat;
  background-size: cover;
  &__title {
    color: #fff;
    margin-bottom: 100px;
  }
}

.block-contacts {
  margin-bottom: 80px;
  @include flexbox(space-around, center, row);
  &__item {
    text-align: center;
  }
  &__img {
    margin-bottom: 20px;
  }
  &__text {
    @include fontext($OpenSans, 20px, 400);
    color: #fff;
    line-height: 1.4;
  }
}

.form {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  &__items {
    display: flex;
    margin-bottom: 20px;
  }
  &__item {
    flex-grow: 1;
    padding: 0px 7.5px;
    text-align: right;
    &:last-child {
      text-align: right;
    }
  }
  &__input {
    width: 100%;
    padding: 25px 0px 25px 20px;
    border: 2px solid transparent;
    border-radius: 10px;

    @include fontext($OpenSans, 20px, 400);
    color: #000;
    &:focus {
      border-color: #00897b;
    }
  }
  &__textarea {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    @include fontext($OpenSans, 20px, 400);
    resize: none;
    &:focus {
      border-color: #00897b;
    }
  }
  &__button {
    padding: 20px 60px;
    border-radius: 5px;
    @include fontext($OpenSans, 20px, 400);

    background-color: #fff;
    &:focus {
      border-color: #00897b;
    }
  }
}
