block vars
	-footerBc = ''

footer.footer(style="background-color:" + footerBc)
	.container
		.footer__footer
			.row
				.col-lg-3
					.footer__logo-block
						.footer__logo
							img(src="img/logo-2.png", alt="")
				.col-lg-3
					.footer__content-block
						.text-color_green.footer__content-block-title Alexis LLC.
						.footer__content-block-text 
							p 4125 Brighton Circle Road
							p Little Falls, MN 56345
				.col-lg-3
					.footer__content-block
						.text-color_purple.footer__content-block-title Alexis LLC UK.
						.footer__content-block-text
							p 81 Golden Knowes Road
							p FRESHFIELD   L37 6TP
				.col-lg-3
					.footer__content-block
						.text-color_orange.footer__content-block-title Follow Us.
						.footer__socials
							a(href="https://www.google.com/" target="_blank").footer__social-link
								svg.icon-color_white.footer__social-icon
									use(xlink:href="#facebook")
							a(href="https://www.google.com/" target="_blank").footer__social-link
								svg.icon-color_white.footer__social-icon
									use(xlink:href="#twitter")
							a(href="https://www.google.com/" target="_blank").footer__social-link
								svg.icon-color_white.footer__social-icon
									use(xlink:href="#instagram")
							a(href="https://www.google.com/" target="_blank").footer__social-link
								svg.icon-color_white.footer__social-icon
									use(xlink:href="#google")