header.header
	.container
		.header__inner
			.header__logo
				img(src="img/logo-2.png", alt="")
			.header__logo.header__logo_scroll
				img(src="img/logo.png", alt="")
			nav.header__nav
				ul.header__nav-list
					li.header__nav-item
						a.header__nav-link(href="#index-about") About Us
					li.header__nav-item
						a.header__nav-link(href="#index-focus") Our Focus
					li.header__nav-item
						a.header__nav-link(href="#index-portfolio") Portfolio
					li.header__nav-item
						a.header__nav-link(href="#index-team") Our Team
					li.header__nav-item
						a.header__nav-link(href="#index-work") Work Steps
					li.header__nav-item
						a.header__nav-link(href="#index-price") Pricing
					li.header__nav-item
						a.header__nav-link(href="#index-testimonials") Testimonials
					li.header__nav-item
						a.header__nav-link(href="#index-blog") Blog
					li.header__nav-item
						a.header__nav-link(href="#index-form") Contact

.mobile-nav
	nav.mobile-nav__nav
		ul.mobile-nav__list
			li.mobile-nav__item
				a.mobile-nav__link(href="#index-about") About Us
			li.mobile-nav__item
				a.mobile-nav__link(href="#index-focus") Our Focus
			li.mobile-nav__item
				a.mobile-nav__link(href="#index-portfolio") Portfolio
			li.mobile-nav__item
				a.mobile-nav__link(href="#index-team") Our Team
			li.mobile-nav__item
				a.mobile-nav__link(href="#index-work") Work Steps
			li.mobile-nav__item
				a.mobile-nav__link(href="#index-price") Pricing
			li.mobile-nav__item
				a.mobile-nav__link(href="#index-testimonials") Testimonials
			li.mobile-nav__item
				a.mobile-nav__link(href="#index-blog") Blog
			li.mobile-nav__item
				a.mobile-nav__link(href="#index-form") Contact
	.mobile-nav__hamburger
		span
		span
		span