footer.footer(class="wow fadeInUp")
	.container
		.row
			.col-lg-7
				nav.footer__nav
					ul.footer__list
						li.footer__item.footer__item_line
							a(href="index.html").footer__link Home
						li.footer__item.footer__item_line
							a(href="about.html").footer__link about us
						li.footer__item.footer__item_line
							a(href="services.html").footer__link services
						li.footer__item.footer__item_line
							a(href="blog.html").footer__link blog
						li.footer__item
							a(href="contact.html").footer__link contact us
			.col-lg-5
				.footer__right-block
					.footer__copy Created by akhouad 2016. All Rights Reserved
					.socials
						a(href="#") <ion-icon name="logo-facebook"></ion-icon>
						a(href="#") <ion-icon name="logo-twitter"></ion-icon>
						a(href="#") <ion-icon name="logo-youtube"></ion-icon>
						a(href="#") <ion-icon name="logo-linkedin"></ion-icon>
						a(href="#") <ion-icon name="logo-pinterest"></ion-icon>
						a(href="#") <ion-icon name="logo-instagram"></ion-icon>