section.form-footer(class="wow fadeInUp")
	.container
		.row
			.col-lg-6
				.title.title_color_white.form-footer__title YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
				button.btn.btn_white get in touch
			.col-lg-6
				.form-footer__input-block
					.form-footer__input-title STAY INFORMED WITH OUR NEWSLETTER
					.form-footer__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.form-footer__form
						.input-block
							input.input
							span.input-block__placeholder your email
						button.btn.form-footer__send-btn send