header.header
	.container(class="wow fadeInUp")
		.header__navigation
			.header__logo
				a(href="index.html")
					img(src="./img/logo.png", alt="").img-default
			nav.header__nav
				ul.header__list
					li.header__item 
						a(href="index.html").header__link Home
					li.header__item 
						a(href="about.html").header__link about us
					li.header__item 
						a(href="services.html").header__link services
					li.header__item 
						a(href="blog.html").header__link blog
					li.header__item 
						a(href="contact.html").header__link contact us
			.header__hamburger
				span
				span
				span
		nav.header__mobile-nav
			ul.header__mobile-list
				li.header__mobile-item
					a(href="index.html").header__mobile-link Home
				li.header__mobile-item
					a(href="about.html").header__mobile-link about us
				li.header__mobile-item
					a(href="services.html").header__mobile-link services
				li.header__mobile-item
					a(href="blog.html").header__mobile-link blog
				li.header__mobile-item
					a(href="contact.html").header__mobile-link contact us