.solutions {
  padding-bottom: 100px;
  &__title {
    margin-bottom: 50px;
  }
  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px -7.5px;
    &.mrc {
      margin-bottom: 100px;
    }
  }
  &__item-wrapper {
    width: 25%;
    min-width: 273px;
    min-height: 260px;
    margin-bottom: 30px;
    padding: 0px 7.5px;
    border-radius: 20px;
  }

  &__item {
    height: 100%;
    margin-bottom: 40px;
    padding: 25px 25px 0px 25px;
  }
  &__item-title {
    margin-bottom: 20px;
    @include fontText($Roboto, 18px, 700);
    text-transform: uppercase;
    line-height: 1.5;
    color: $BlockTitle;
    text-align: center;
  }
  &__inside-item {
    margin-bottom: 10px;
    padding-left: 20px;
    @include fontText($Roboto, 12px, 400);
    color: $BlockText;
    line-height: 1.4;

    background: url(../img/solutions/bullit.svg) 0 3px no-repeat;
  }
  &__clarification {
    margin: 0 auto;
  }
}

.mrc {
  display: flex;
  flex-direction: column;
  &-content {
    &-wrap {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0px -7.5px;
    }
  }
  &-controls {
    margin-top: 20px;
    align-self: center;
  }
  &-btn {
    position: relative;
    @include fontText($Roboto, 14px, 700);
    color: #ffaeae;
    text-transform: uppercase;
    letter-spacing: 1px;

    background-color: transparent;
  }
  &-shadow {
    pointer-events: none;
    position: absolute;
    height: 100px; /* Высота блока с тенью */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    /* Цвета градиента в зависимости от фона сайта */
    background: linear-gradient(to top, #fff 1%, rgba(0, 0, 0, 0.014) 100%);
  }
}

.up::before {
  content: "";
  position: absolute;

  bottom: -60px;
  left: 50%;
  width: 46px;
  height: 46px;

  background: url(../img/solutions/Group.svg) center no-repeat;

  transform: translateX(-50%);
}

.down::before {
  content: "";
  position: absolute;

  bottom: -60px;
  left: 50%;
  width: 46px;
  height: 46px;

  background: url(../img/solutions/Group.svg) center no-repeat;

  transform: translateX(-50%) rotate(180deg);
}

.clarification {
  width: 100%;
  max-width: 394px;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__title {
    margin-bottom: 30px;
    @include fontText($Roboto, 16px, 400);
    color: #646566;

    line-height: 1.6;
  }
  &__button {
    padding: 15px 0px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
